* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.banner {
    background-image: url(./images/bg.jpg);
    background-size: cover;
    height: 80vh;
    padding: 0;
    z-index: 0;
}

.bannerShadow {
    height: 80vh;
    width: 100%;
    position: absolute;
    background-color: rgb(0, 0, 0, .6);
    z-index: 1;
}

nav {
    margin: auto;
}

.navbar {
    padding: 20px;
    height: 8vh;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.navBarColum1 {
    width: 50%;
}

.logo {
    height: 50px;
}

.navBarColum2 {
    display: flex;
    align-items: end;
    justify-content: end;
    width: 50%;
}

.language {
    color: white;
    background-color: transparent;
    height: 3vh;
    border-radius: 5px;
    margin: 10px;
    font-size: 1rem;
    font-family: netflixP, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.language option {
    background-color: gray;
}

.loginButton {
    height: 3vh;
    width: 5vw;
    background-color: red;
    color: white;
    margin: 10px;
    border-radius: 5px;
    border-style: none;
    font-size: 0.8rem;
    font-family: netflix, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.bannerCenter {
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 72vh;
}

.bannerText {
    width: 100%;
}

.actionsBanner {
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputActionsBanner {
    background-color: rgba(0, 0, 0, 0.233);
    height: 6vh;
    border-radius: 5px;
    width: 50%;
    max-width: 430px;
    color: white;
}

.inputActionsBanner::placeholder {
    padding-left: 10px;
    color: white;
    font-family: netflixP, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.textBannerTitle {
    display: flex;
    color: white;
    font-size: 3rem;
    justify-content: center;
    font-family: netflix, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.textBannerParagraph {
    margin: 10px;
    display: flex;
    color: white;
    font-size: 1.5rem;
    justify-content: center;
    font-family: netflixP, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.textBannerParagraph2 {
    margin: 10px;
    display: flex;
    color: white;
    font-size: 1.25rem;
    justify-content: center;
    font-family: netflixP, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.loginButton2 {
    height: 6vh;
    width: 8vw;
    background-color: red;
    color: white;
    margin: 10px;
    border-radius: 5px;
    border-style: none;
    font-size: 1rem;
    font-family: netflix, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.information {
    background-color: black;
    height: 50vh;
    width: 100%;



}

.informationContent {
    margin: auto;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;

}

.textTitle {
    display: flex;
    color: white;
    font-size: 3rem;
    font-family: netflix, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.textParagraph {
    margin-top: 10px;
    display: flex;
    color: white;
    font-size: 1.3rem;
    font-family: netflixP, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.informationText {
    width: 50%;
}

.informationImageSlot {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.informationImage1 {
    width: 100%;
    height: 100%;
    max-width: 550px;
}

.informationImageGif1 {
    background-image: url(https://i.pinimg.com/originals/bb/74/04/bb74046420c4c992b8cabc6e667abe40.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    max-width: 700px;

}

.divider {
    background-color: rgba(0, 0, 0, 0.829);
    height: 0.8vh;
    width: 100%;
}

.informationImage2 {
    width: 100%;
    height: 100%;
    max-width: 550px;
}

.informationImageGif2 {
    background-image: url(https://i.pinimg.com/originals/07/a5/c3/07a5c337da6b9517e025ade4e8bd979d.gif);
    background-position: center bottom 80%;
    background-repeat: no-repeat;
    background-size: 65% 50%;
    height: 100%;
    max-width: 500px;
}

.informationImage3 {
    padding: 0px;
    width: 100%;
    height: 105%;
    max-height: 100%;
    max-width: 550px;
}

footer {
    background-color: black;
    padding: 20px;
}

.footerParagraph {
    color: rgb(151, 151, 151);
    margin: 10px;
    margin-bottom: 20px;
    font-family: netflixP;
    font-size: 1.0rem;
}

.footerOptions {
    margin: auto;
    width: 100%;
    display: flex;

}

.footerOptionsList {
    color: rgb(151, 151, 151);
    font-family: netflixP;
    font-size: 0.9rem;
    list-style-type: none;
    text-decoration: underline;
    width: 25%;
}

.footerOptionsItem {
    margin: 10px;

}


@media (max-width: 1269px) {

    .loginButton {
        min-width: 50px;
        height: 3vh;
        width: 5vw;
        background-color: red;
        color: white;
        margin: 10px;
        border-radius: 5px;
        border-style: none;
        font-size: 0.8rem;
        font-family: netflix, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .language {
        color: white;
        background-color: transparent;
        height: 3vh;
        border-radius: 5px;
        margin: 10px;
        font-size: 1rem;
        font-family: netflixP, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .bannerCenter {
        width: 90%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 72vh;
    }

    .textBannerTitle {
        display: flex;
        color: white;
        font-size: 2rem;
        justify-content: center;
        font-family: netflix, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .textBannerParagraph {
        margin: 10px;
        display: flex;
        color: white;
        font-size: 1rem;
        justify-content: center;
        font-family: netflixP, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .textBannerParagraph2 {
        margin: 10px;
        display: flex;
        color: white;
        font-size: 0.9rem;
        justify-content: center;
        font-family: netflixP, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }


    .loginButton2 {
        min-width: 73px;
        height: 4vh;
        width: 6vw;
        background-color: red;
        color: white;
        margin: 10px;
        border-radius: 5px;
        border-style: none;
        font-size: 0.8rem;
        font-family: netflix, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

}

@media (max-width: 660px) and (min-width:430px) {
    nav {
        margin: none;
    }

    .navbar {
        margin-top: 20px;
        height: 8vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

    }


    .navBarColum1 {
        width: 50%;
    }

    .logo {
        height: 50px;
    }

    .navBarColum2 {
        display: flex;
        align-items: end;
        justify-content: end;
        width: 50%;
    }

    .language {
        color: white;
        background-color: transparent;
        height: 3vh;
        border-radius: 5px;
        margin: 10px;
        font-size: 1rem;
        font-family: netflixP, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .bannerCenter {
        width: 90%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 72vh;
    }


    .textBannerTitle {
        display: flex;
        color: white;
        font-size: 1.3rem;
        justify-content: center;
        font-family: netflix, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .textBannerParagraph {
        margin: 10px;
        display: flex;
        color: white;
        font-size: 1.0rem;
        justify-content: center;
        font-family: netflixP, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .textBannerParagraph2 {
        margin: 10px;
        display: flex;
        color: white;
        font-size: 0.7rem;
        justify-content: center;
        font-family: netflixP, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .loginButton2 {
        height: 6vh;
        width: 8vw;
        background-color: red;
        color: white;
        margin: 10px;
        border-radius: 5px;
        border-style: none;
        font-size: 0.8rem;
        font-family: netflix, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }


}






@font-face {
    font-family: netflix;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff2);
}

@font-face {
    font-family: netflixP;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff2);
}